.cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.indexCards {
    width: 865px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 880px;
    border-radius: 10px;
    color: white;
    margin: 1rem;
    padding: .5rem;
    transition: .3s;

    &:hover {
        background-color: rgba(151, 38, 38, 0);
        transform: scale(1.05);
        box-shadow: 0 5px 50px -1px black;
    }
}

.cardCancelada {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 880px;
    border-radius: 10px;
    color: white;
    margin: 1rem;
    padding: .5rem;
    transition: .3s;

    h2 {
        text-decoration: line-through;
    }

    h3 {
        text-decoration: line-through;
    }

    h4 {
        text-decoration: line-through;
    }

    &:hover {
        filter: grayscale(100%);
        transform: scale(1.05);
        box-shadow: 0 5px 50px -1px black;

        h1 {
            text-decoration: underline;
        }

        h2 {
            color: red;
            transition: .4s;
        }

        h3 {
            color: red;
            transition: .4s;
        }

        h4 {
            color: red;
            transition: .4s;
        }
    }

}