@media screen and (max-width: 1823px) {
    .indexCards {
        width: 700px;
    }

    .card {
        width: 715px;
    }

    .cardCancelada {
        width: 715px;
    }
}

@media screen and (max-width: 1495px) {
    .indexCards {
        width: 600px;
    }

    .card {
        width: 615px;
    }

    .cardCancelada {
        width: 615px;
    }
}

@media screen and (max-width: 1294px) {
    .indexCards {
        width: 500px;
    }

    .card {
        width: 515px;
    }

    .cardCancelada {
        width: 515px;
    }
}

@media screen and (max-width: 1094px) {
    .indexCards {
        width: 450px;
    }

    .card {
        width: 465px;
    }

    .cardCancelada {
        width: 465px;
    }
}


@media screen and (max-width: 1040px) {


    .buscador {
        width: 700px;
        display: flex;
        justify-content: center;
    }

    .botonBuscar {
        left: 93%;
        bottom: 100px;
    }

    .suriaLogoFAQ {
        display: none;
    }

    .containerFAQ {
        width: 100%;
        padding: 1rem;
        overflow: hidden;
    }

    .preguntasFrecuentes {
        width: 100%;
    }

    .preguntasFrecuentesIzq {
        width: 100%;
    }

    .mapaArtista {
        width: 93%;
    }

    .containerArtistasTexto {
        width: 95.5%;
    }

    #carouselExample {
        margin-left: 5.5rem;
    }

    .indexCards {
        width: 400px;
    }

    .card {
        width: 415px;
    }

    .cardCancelada {
        width: 415px;
    }

    .suriaLogoFAQ {
        display: none;
    }

    .suriaLogoFAQResponsive {
        display: block;
        width: 10rem;
        margin: 0;
    }
}

@media screen and (max-width: 894px) {
    .indexCards {
        width: 350px;
    }

    .card {
        width: 365px;
    }

    .cardCancelada {
        width: 365px;
    }
}

@media screen and (max-width: 830px) {
    nav {
        background-color: rgba(0, 0, 0, 0.300);
        box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.5);

        ul {
            padding: 0;
            margin: 0;

            li {
                display: list-item;
            }
        }
    }

    .logo {
        width: 9rem;
        position: relative;
        top: 0;
    }

    .logoIndex {
        width: 12rem;
        position: relative;
        top: 0;
    }

    .container {
        height: 500px;
        border-top-left-radius: 0px;
    }

    .containerTaylorSwift {
        height: 500px;
        border-top-left-radius: 0px;
        background-position: right;
    }

    .containerKendrickLamar {
        height: 500px;
        border-top-left-radius: 0px;
        background-position: right;
    }

    .containerJoji {
        height: 500px;
        border-top-left-radius: 0px;
    }

    .containerTylerTheCreator {
        height: 500px;
        border-top-left-radius: 0px;
    }

    .logoArtista img {
        width: 100%;
    }

    .indexCards {
        width: 300px;
    }

    .card {
        width: 315px;
    }

    .cardCancelada {
        width: 315px;
    }

}

@media screen and (max-width: 700px) {

    .cuenta {
        width: 92%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .container {
        height: 500px;
        border-top-left-radius: 0px;
    }

    .logo {
        width: 9rem;
        position: relative;
        top: 0;
    }

    .logoIndex {
        width: 12rem;
        position: relative;
        top: 0;
    }

    nav {
        background-color: rgba(0, 0, 0, 0.300);
        box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.5);

        ul {
            padding: 0;
            margin: 0;

            li {
                display: list-item;
            }
        }
    }

    .titulos {
        display: flex;
        justify-content: center;
    }

    body {
        width: 100%;
    }

    .containerTaylorSwift {
        height: 500px;
        border-top-left-radius: 0px;
        background-position: right;
    }

    .containerKendrickLamar {
        height: 500px;
        border-top-left-radius: 0px;
        background-position: right;
    }

    .logoArtista img {
        width: 100%;
    }

    .containerJoji {
        height: 500px;
        border-top-left-radius: 0px;
    }

    .containerTylerTheCreator {
        height: 500px;
        border-top-left-radius: 0px;
    }

    .indexCards {
        width: 100%;
    }

    .card {
        width: 100%;
    }

    .cardCancelada {
        width: 100%;
    }

    .buscador {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 0.9rem;
    }

    .botonBuscar {
        left: 82%;
        bottom: 100px;
    }

    .footer_logo_img {
        width: 70%;
        margin-left: 1rem;
    }

    .copy_footer {
        padding-left: 1rem;
    }

    footer {
        height: 200px;
        padding: 0.1rem;
        justify-content: center;
        overflow: hidden;
    }

    .redesSociales {
        img {
            width: 70%;
        }
    }

    .buscadorSoporte {
        width: 100%;
    }

    .textoSoporte {
        border-radius: 30px;
    }

    .containerFAQ {
        width: 100%;
        padding: 1rem;
        margin: 0;
    }

    .preguntasFrecuentes {
        width: 90%;
    }

    .preguntasFrecuentesIzq {
        width: 100%;
    }

    .preguntasFrecuentes {
        width: 100%;
    }

    .barraDeBusqueda {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .buscadorSoporte {
        font-size: 1rem;
    }

    .containerArtistasTexto {
        width: 90%;
    }

    #carouselExample {
        margin-left: 1.2rem;
        width: 90%;
    }
}