* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotu', sans-serif;
}

body {
    background-image: linear-gradient(80deg, black, rgb(255, 0, 0), #363537);
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

/* ===== HEADER ===== */
@import "_header.scss";
/* ===== CARDS ===== */
@import "_cards.scss";
/* ===== PAGINA INGRESO Y REGISTRO ===== */
@import "_paginaIngresoRegistro.scss";
/* ===== SOPORTE ===== */
@import "_soporte.scss";
/* ===== FOOTER ===== */
@import "_footer.scss";
/* ===== ARTISTAS ===== */
@import "_artistas.scss";
/* ===== RESPONSIVE ===== */
@import "_responsive.scss";

/*
                                            ⢀⣠⣤⣶⣶⣶⣶⣶⣤⣄⡀⠀⠀
                                        ⣠⣴⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣄⡀
                                    ⣠⣴⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣮⣵⣄
                                ⢾⣻⣿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢿⣿⣿⡀
                                ⠸⣽⣻⠃⣿⡿⠋⣉⠛⣿⣿⣿⣿⣿⣿⣿⣿⣏⡟⠉⡉⢻⣿⡌⣿⣳⡥⠀⠀⠀⠀
                                ⢜⣳⡟⢸⣿⣷⣄⣠⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⣤⣠⣼⣿⣇⢸⢧⢣⠀   HOLA PROFE
                                ⠨⢳⠇⣸⣿⣿⢿⣿⣿⣿⣿⡿⠿⠿⠿⢿⣿⣿⣿⣿⣿⣿⣿⣿⠀⡟⢆⠀
                                ⠈⠀⣾⣿⣿⣼⣿⣿⣿⣿⡀⠀⠀⠀⠀⣿⣿⣿⣿⣿⣽⣿⣿⠐⠈⠀⠀
                            ⢀⣀⣼⣷⣭⣛⣯⡝⠿⢿⣛⣋⣤⣤⣀⣉⣛⣻⡿⢟⣵⣟⣯⣶⣿⣄⡀⠀
                            ⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣶⣶⣶⣾⣶⣶⣴⣾⣿⣿⣿⣿⣿⣿⢿⣿⣿⣧
                            ⣿⣿⣿⠿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⠿⣿⡿
*/